@font-face {
    font-family: KGRedHands ;
    src: url(../src//font/kg_red_hands/KGRedHands.ttf);
}
@font-face {
    font-family: SuperFoods ;
    src: url(../src//font/super_foods/Super\ Foods.ttf);
}
@font-face {
    font-family: Papernotes ;
    src: url(../src//font/papernotes/Papernotes.ttf);
}
@font-face {
    font-family: Daydream ;
    src: url(../src//font/daydream_3/Daydream.ttf);
}


body{
    background-color: #ecd9d1 ;
}
.fundo {
    display: flex;
    width: 1141px;
    height: 838px;
    flex-grow: 0;
    margin: 70px auto;
    padding: 61px 9.2px 61px 32px;
    border-radius: 41px;
    border: solid 5px #000;
    background-color: rgba(255, 216, 194, 0.92);
    box-shadow: -10px 16px 0px 4px rgba(84, 56, 56, 1);
    position: relative;
}
.lado-esquerdo {
    flex: 1; 
}

.lado-direito {
    flex: 1;
}
.fundo2{
    width: 490px;
    height: 786px;
    flex-grow: 0;
    margin: -2.2rem 118px 0 0;
    padding: 11px 16px 18px 12px;
    border-radius: 43px;
    box-shadow: -11px 10px 0 0 rgba(0, 0, 0, 0.25);
    border: solid 5px #000;
    background-image: url("../src/anna2.png");
    background-position: center;
    background-size:150%;
    background-repeat: no-repeat ;
    position: absolute;
}

.user-nf{
    width: 199px;
    height: 69.7px;
    padding: 10px 0 0 19px;
    border-radius: 12px;
    box-shadow: -5px 6px 0 0 #440929;
    background-color: #543838;
    position: relative;
    left: 7.8rem;
    top: 31rem;
}


.nf-text{
    font-family: Daydream;
    font-size: 11px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.66px;
    text-align: center;
    color: #e8a542;

}

.log-fund{
    width: 522px;
    height: 573px;
    /* background-color: aqua; */
    margin-left: 2rem;
    margin-top: 4rem;
    position: relative;
}
.login_p{
    flex-grow: 0;
    margin: 65px 70.8px 78px 1px;
    -webkit-text-stroke: 13px #000;
    font-family: SuperFoods;
    font-size: 128px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 5.12px;
    text-align: left;
    color: #ffc369;
    position: absolute;
    cursor: default;
    paint-order:stroke  fill ;
    text-shadow: -12px 9px 0px rgba(84, 56, 56, 1);
    
}

.selecione-none {
    -webkit-touch-callout: none; /* Desativar o menu de contexto para dispositivos móveis */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Padrão */
}

.Email {
    width: 446.8px;
    height: 63px;
    padding: 2px 0 0 31.8px; 
    border-radius: 28px;
    border: solid 5px #000;
    background-color: #fff;
    outline: none;
    font-family: Papernotes;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.72px;
    text-align: left;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 16rem;
}
.Senha{
    width: 446.8px;
    height: 63px;
    padding: 2px 0 0 31.8px; 
    border-radius: 28px;
    border: solid 5px #000;
    background-color: #fff;
    outline: none;
    font-family: Papernotes;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.72px;
    text-align: left;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 21rem;
}

#btn{
    display: block;
    position: relative;
    height: 50px;
    width: 432px;
    /* background-color: aqua; */
    top: 29rem ;
    left: 0.3rem ;
}
.login{

    width: 138px;
    height: 52px;
    flex-grow: 0;
    margin: 0rem 0rem 0rem 3rem;
    padding: 10px 42px 12px 44px;
    border: none;
    border-radius: 37px;
    background-color: #ffc369;
    font-family: KGRedHands;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.56px;
    text-align: left;
    color: #543838;
    outline: none;
    position: absolute;

}
.cad{

    width: 153px;
    height: 52px;
    flex-grow: 0;
    margin: 0rem 0rem 0rem 15rem;
    padding: 11px 32px 12px 31px;
    border-radius: 37px;
    background-color: #ffc369;
    font-family: KGRedHands;
    border: none;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.56px;
    text-align: left;
    color: #543838;
    outline: none;
    position: absolute;

}

#oua{
    font-family: KGRedHands;
    font-size: 10pt;
    margin: 1rem 0rem 0rem 12.8rem ;
    position: absolute;
    opacity: 70%
}
#p1{
    position:absolute;
}
#p2{
    margin: 43rem 0rem 0rem 25rem;
    position:absolute;
}



.miss_pass{
    height: 11px;
    flex-grow: 0;
    margin: 25.3rem 0rem 0rem 17rem;
    padding: 10px 0 0;
    font-family: Papernotes;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.48px;
    text-align: left;
    color: #543838;
    text-decoration-thickness: 2.3px;
    text-underline-offset: 2px;
    position: absolute;
}

input:focus {
    transition: box-shadow 0.4s ease, transform 0.4s ease;
    box-shadow: -10px 8px 0 0 #543838;

    transform: translate(5px, -5px);
}


input:not(:focus)
{
    transition: box-shadow 0.4s ease, transform 0.4s ease;
    box-shadow: 0px 0px 0px 0px #543838; /* Sombra inicial */
    transform: translate(0px, 0px); /* Nenhuma transformação */

}


#login:hover{
    transition: box-shadow 0.4s ease, transform 0.4s ease;
    box-shadow: -10px 8px 0 0 #543838;
    transform: translate(7px, -7px);
}

#login:not(:hover){
    transition: box-shadow 0.4s ease, transform 0.4s ease;
    box-shadow: 0px 0px 0 0 #ffc369;
    transform: translate(0px, 0px);
}


#cad:hover,.cad:active{
    transition: box-shadow 0.4s ease, transform 0.4s ease;
    box-shadow: -10px 8px 0 0 #543838;
    transform: translate(7px, -7px);
}

#cad:not(:hover){
    transition: box-shadow 0.4s ease, transform 0.4s ease;
    box-shadow: 0px 0px 0 0 #ffc369;
    transform: translate(0px, 0px);
}









@media (max-width: 1800px) {
    .fundo{
        margin: 38px 223px 0px 374px;
        width: 884px;
        height: 698px;
        flex-grow: 0;
        padding: 57px 41.19999999999999px 61px 32px;
    }
    .fundo2 {
        width: 373px;
        height: 636px;
    }
    #p2{
        margin:34rem 0rem 0rem 18rem;
    }
    .log-fund {
        width: 402px;
        height: 546px;
        margin-top: -0.3rem;
        margin-left: 26rem;
        position: relative;
    }
    .login_p {
        margin: 110px 63.8px 78px 11px;
    -webkit-text-stroke: 13px #000;
    font-size: 70pt;
    }
    .Email{
        width: 344.8px;
        height: 57px;
        left: 0rem;
        top: 16.5rem;
        font-size: 15px;
    }
    .Senha{
        width: 344.8px;
        height: 57px;
        left: 0rem;
        font-size: 15px;
    }
    .miss_pass{
        margin-left: 12rem;
    }
    #btn{
        top: 29rem ;
        left: -2.5rem ;
    }
    .login{
    
        margin: 0rem 0rem 0rem 3.7rem;
        padding: 10px 42px 12px 42px;
    }
    .cad{
    
        margin: 0rem 0rem 0rem 14.3rem;
        padding: 11px 32px 12px 31px;
    }
    
    #oua{
        margin: 1.2rem 0rem 0rem 12.9rem;
        font-size: 7pt;
    }

    .user-nf{
        width: 198.2px;
        height: 52.6px;
        left: 5.2rem;
        top: 31rem;
        padding: 0px 0 0px 30px;
    }
    .nf-text{
        font-size: 9px;
    }

}