@font-face {
    font-family: KGRedHands ;
    src: url(../src//font/kg_red_hands/KGRedHands.ttf);
}

body {
    background-color: #FBCF85;
}
*{
    list-style-type: none;
}

.sobre {
    width: 181px;
    height: 5rem;
    margin: 20px 0.2rem 0 -7rem;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-navsobre {
    margin-right: 20px; /* Espaçamento entre os botões */
}

.menu-navsobre button {
    border: none;
    background-color: transparent;
}

.sobr {
    font-family: Minecraft;
    font-size: 16pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.84px;
    text-align: left;
    color: #543838;
    margin: 0; /* Remover margem padrão */
}

.tx
{
    position: relative;
}

.tx2
{
    position: absolute;
    font-family: Organic Relief;
    font-size: 16pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.55pt;
    color: #543838;
    left: 4rem;
    right: 0rem;
    top: 11rem;
    bottom: 0rem;
}


.qs
{
    position: absolute;
    width: 36rem;
    text-align: justify;
    font-family: Honey Cute;
    font-size: 30pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.5pt;
    color: #543838;
    left: 5rem;
    right: 0rem;
    top: 18rem;
    bottom: 0rem;
}

#tx3 img
{
    width: 945px;
    height: 76rem;
}
.tx3 {
    position: absolute;
    left: 39.9rem;
    right: 0rem;
    top: 6rem;
    bottom: 0rem;
}


.bann 
{
    position: absolute;
    max-width: 100%;
    height: auto;
    top: 89rem;
}

/* .ds
{
    text-align: end;
    font-family: Organic Relief;
    font-size: pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.55pt;
    color: #543838;
    margin: 20px 0.2rem 0 -7rem;
} */
.it1
{
    position: relative;
}

.di 
{
    position: absolute;
    height: auto;
    left: 22%;
    transform: translateX(-50%);
    top: 147rem;
}

.es
{
    position: absolute;
    font-family: Organic Relief;
    font-size: 38pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.55pt;
    color: #543838;
    left: 51.9rem;
    right: 0rem;
    top: 147rem;
    bottom: 0rem;
}
.es2
{
    position: absolute;
    font-family: Organic Relief;
    font-size: 37pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.55pt;
    color: #543838;
    left: 55.9rem;
    right: 0rem;
    top: 153rem;
    bottom: 0rem;
}

.tx1 {
    position: absolute;
    text-align: left;
    font-family: KGRedHands;
    font-size: 23pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.55pt;
    color: #543838;
    left: 50.9rem;
    right: 0rem;
    top: 164rem;
    bottom: 0rem;
  }
