@font-face {
    font-family: KGRedHands ;
    src: url(../src//font/kg_red_hands/KGRedHands.ttf);
}
@font-face {
    font-family: HeyComic ;
    src: url(../src//font/hey_comic/Hey\ Comic.ttf);
}
@font-face {
    font-family: SuperFoods ;
    src: url(../src//font/super_foods/Super\ Foods.ttf);
}
@font-face {
    font-family: Papernotes ;
    src: url(../src//font/papernotes/Papernotes.ttf);
}
@font-face {
    font-family: SquashyFlow ;
    src: url(../src//font/squashy_flow/Squashy\ Flow.ttf);
}
@font-face {
    font-family: Minecraft ;
    src: url(../src//font/minecraft/Minecraft.ttf);
}
@font-face {
    font-family: PinkChicken;
    src: url(../src//font/pink_chicken/PinkChicken-Regular.ttf);
}

*{
    list-style: none;
}

body{
    background-color: #E1EEF5 ;
}

.fundo {
    display: flex;
    width: 1241px;
    height: 838px;
    flex-grow: 0;
    margin: 68px auto;
    padding: 61px 41.19999999999999px 61px 32px;
    border-radius: 41px;
    border: solid 5px #000;
    background-color: #CDE7FF;
    box-shadow: -10px 16px 0px 4px rgba(57, 72, 109, 1);
    position: relative;
}

.fundo2{
    width: 490px;
    height: 786px;
    flex-grow: 0;
    margin: -2.2rem 118px 0 0;
    padding: 11px 16px 18px 12px;
    border-radius: 43px;
    box-shadow: -11px 10px 0 0 rgba(0, 0, 0, 0.25);
    border: solid 5px #000;
    background-image: url("../src/sdasds.png");
    background-position: center;
    background-size: 265% 101%;
    background-repeat: no-repeat ;
    position: absolute;
}

.cad-fund{
    width: 601px;
    height: 605px;
    margin-left: 34rem;
    margin-top: 3rem;
    position: relative;
}
.cad_p {
    margin: 60px 96.2px 54px -15px;
    -webkit-text-stroke: 10px #000;
    font-family: SquashyFlow;
    font-size: 54px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.6px;
    text-align: left;
    paint-order:stroke  fill ;
    text-shadow: -7px 7px 0px rgba(57, 72, 109, 1);
    color: #6188c1;
}
.selecione-none {
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.linha1{
    position: relative;
    left: -1.5rem;
}
.linha2{
    position: relative;
    left: -1.5rem;
    top: 6rem;
}
.log-men{
    width: 452px;
    height: 241px;
    flex-grow: 0;
    margin: 221px 47px 236px 5px;
    padding: 43px 101px 46px;
    border-radius: 43px;
    -webkit-backdrop-filter: blur(28.8px);
    backdrop-filter: blur(28.8px);
    box-shadow: -7px 11px 0 0 #1d2c56;
}
.p-log{
    width: 250px;
    height: 83px;
    flex-grow: 0;
    margin: 0 0 22px;
    font-family: SquashyFlow;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.88px;
    text-align: left;
    color: #ffffff;
    text-shadow: -4px 2px 0px rgb(102, 125, 190);

}
.btn-log{
    width: 188px;
    height: 47.1px;
    flex-grow: 0;
    margin: 22px 15px 0 25px;
    padding: 13px 65px 10px;
    border-radius: 40px;
    background-color: #5079b6;
    outline: none;
    border: none;
    font-family: KGRedHands;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.56px;
    text-align: left;
    color: rgba(255, 255, 255, 0.85);
    box-shadow: -7px 11px 0 0 #1d2c56;
}
.nome{
    width: 317.8px;
    height: 63px;
    padding: 24px 31.8px 23px 31.8px;
    border-radius: 28px;
    border: solid 5px #000;
    background-color: #fff;
    box-shadow: -10px 8px 0 0 rgba(57, 72, 109, 1);
    outline: none;
    font-family: PinkChicken;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.72px;
    text-align: left;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 0rem;
}
.email{
    width: 317.8px;
    height: 63px;
    padding: 24px 31.8px 23px 31.8px;
    border-radius: 28px;
    border: solid 5px #000;
    background-color: #fff;
    box-shadow: -10px 8px 0 0 rgba(57, 72, 109, 1);
    outline: none;
    font-family: PinkChicken;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.72px;
    text-align: left;
    color: rgb(0, 0, 0);
    position: absolute;
    left: 21.3rem;
}
.senha{
    width: 317.8px;
    height: 63px;
    padding: 24px 31.8px 23px 31.8px;
    border-radius: 28px;
    border: solid 5px #000;
    background-color: #fff;
    box-shadow: -10px 8px 0 0 rgba(57, 72, 109, 1);
    outline: none;
    font-family: PinkChicken;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.72px;
    text-align: left;
    color: rgb(0, 0, 0);
    position: absolute;
}
.area{
    width: 317.8px;
    height: 63px;
    padding: 14px 31.8px 13px 31.8px;
    border-radius: 28px;
    border: solid 5px #000;
    font-family: PinkChicken;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.72px;
    text-align: left;
    color: rgba(0, 0, 0, 0.527);
    background-color: #fff;
    box-shadow: -10px 8px 0 0 rgba(57, 72, 109, 1);
    outline: none;
    position: absolute;
    left: 21.3rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.area option{
    font-family: PinkChicken;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.72px;
    text-align: left;
    color: rgb(0, 0, 0);
}
#seta{
    font-size: 25pt;
    position: absolute;
    top: 0.68rem;
    left: 16rem;
    color: rgb(0, 0, 0);
    
}

.olho{
    font-size: 17pt;
    position: absolute;
    top: 1.4rem;
    left: 17rem;
    cursor: pointer;
}

#olho2{
    display: none;
}
.arrow-rotated {
    transform: rotate(180deg);
    transform-origin: 50% 37%;
    transition: transform 0.3s ease-in-out; 
}

.arrow-initial {
    transform: rotate(0deg);
    transform-origin: 50% 37%;
    transition: transform 0.3s ease-in-out; 
}

.dp {
    width: 264px;
    height: 0px;
    left: 2.8rem;
    bottom: -3.96rem;
    padding: 15px 12px 0px; 
    box-shadow: -13px 6px 0 0 #39486d;
    border-left: 5px solid #000;
    border-right: 5px solid #000;
    border-bottom: 5px solid #000;
    border-radius: 0rem 0rem 25px 25px;
    background-color: #e5f3ff;
    position: relative;
    visibility: hidden;
    overflow: hidden; 
    z-index: 2;
    transition: height 0.3s ease, padding-bottom 0.3s ease; 
}

.dp.show {
    visibility: visible;
    height: 166px; 
    padding-bottom: 232px; 
}

.dp.hide {
    height: 0px; 
    padding-bottom: 0px; 
}
.scrollbar {
    overflow-y: scroll;
    right: 20px; 

}

.scrollbar::-webkit-scrollbar {
    width: 19px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #3547758a; 
    border: 0.28em solid #e5f3ff; 
    border-radius: 2rem; 
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #2a38588a; 
}

.scrollbar::-webkit-scrollbar-track{
    border-radius: 3rem;
    margin-top: 0.9rem;
    margin-bottom: 0.6rem;
}
.dp-item{
    font-family: Minecraft;
    font-size: 12pt;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    text-align: left;
    color: #000;
    
}
.dp-menu{
    width: 100%;
    position: relative;
    top: -0.5rem;
}
.hov {
    width: 203px;
    height: 32px;
    padding: 22px 16px 31px 18px;
    border-radius: 14px;
    border: solid 0 #000;
    position: absolute;
    margin-left:  -1.5rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    
}

#ta{
    top: 4rem;
    padding-right: 1rem;
}
#av{
    top:8rem;
}
#wr{
    top:11.98rem;
}

#ddp div:hover{

    background-color: hsl(222, 58%, 87%);
    box-shadow: 0 5px 0 0 #39486d;
    transform: translateX(5px);

}

.tos{
    width: 476px;
    left: 2rem;
    top: 12.2rem;
    position: relative;
}

.check{
    position: absolute;
    text-shadow: -2px 2px 0px rgb(28, 38, 63);
    font-size: 12pt;
    left: 0.25rem;
    bottom: -1.25rem;
    color:#ffffff;
    cursor: pointer;
}
.check_b{
    text-shadow: -2px 2px 0px rgb(28, 38, 63);
    font-size: 18pt;
    color:#697bbd;
    position: absolute;
    cursor: pointer;
}
#tos span{
    position: absolute;
    left: 1.8rem;
    top: 0.090rem;
    font-family: HeyComic;
    font-size: 12pt;
    letter-spacing: 0.48px;
    text-align: left;
    color: #697bbd;
    margin-bottom: 1rem;
}
#tos a{
    text-decoration-thickness: 2.3px;
    text-underline-offset: 2px;
    color: #39486d;
}

#on{
    display: none;
}
#ok{
    display: none;
}

.cad-men{
    /* background-color: brown; */
    width: 376px;
    position: absolute;
    left: 5.7rem;
    bottom: 0.97rem;
}

.btn-cad{
    width: 305px;
    height: 65px;
    flex-grow: 0;
    margin: 20px 0px 0 50px;
    padding: 17.5px 81.1px 18.7px 86.6px;
    border-radius: 40px;
    background-color: #a1adc0;
    outline: none;
    border: none;
    box-shadow: -10px 8px 0 0 #595d68;
    font-family: KGRedHands;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.84px;
    text-align: left;
    color: rgba(255, 255, 255, 0.425);
    pointer-events: none;
}

.btn-cad-on{
    color: rgba(255, 255, 255, 0.85);
    box-shadow: -10px 8px 0 0 #39486d;
    background-color: #6188c1;
    pointer-events: auto;
}



@media (max-width: 1900px) {
    .fundo{
        margin: 38px 223px 0px 326px;
        width: 978px;
        height: 698px;
        flex-grow: 0;
        padding: 57px 41.19999999999999px 61px 32px;
    }
    .fundo2 {
        width: 343px;
        height: 636px;
        background-size:323% 101% ;
    }
    .cad_p{
        margin: 75px 302.2px 42px -163px;
        font-size: 44px;
    }
    .linha1{
        left:-10.5rem;
    }
    .linha2{
        left:-10.5rem;
        top:4.9rem;
    }
    .nome{
        width: 257.8px;
        height: 57px;
        padding: 0px 0 0 31.8px;
        font-size: 15px;
    }
    .email{
        width: 257.8px;
        height: 57px;
        padding: 0px 0 0 31.8px;
        font-size: 15px;
        left: 17.8rem;
    }
    .senha{
        width: 257.8px;
        height: 57px;
        padding: 0px 0 0 31.8px;
        font-size: 15px;
    }
    .olho{
        font-size: 14pt;
        top: 1.3rem;
        left: 14rem;
    }
    .area{
        width: 257.8px;
        height: 57px;
        padding: 0px 0 0 31.8px;
        font-size: 15px;
        left: 17.8rem;
    }
    #seta{
        font-size: 20pt;
        position: absolute;
        top: 0.68rem;
        left: 13rem;
    }
    .tos{
        width: 476px;
        left: -8rem;
        top: 11.2rem; 
    }
    .check_b{
        text-shadow: -1px 2px 0px rgb(28, 38, 63);
        font-size: 16pt;
    }
    .check{
        font-size: 10pt;
        bottom: -1.15rem;
    }
    #tos span {
        top: 0.2rem;
        font-size: 10pt;
    }
    .cad-men{
        left: -6.3rem;
        bottom: 5.97rem;
    }
    .btn-cad{
        padding: 13.5px 0 18.7px 75.6px;
        width: 264px;
        height: 52px;
        font-size: 18px;
    }
    .lado-direito{
        width: 50px;
        height: 50px;
        /* background-color: orange; */
        position: relative;
        left: 0rem;
        top: -2.5rem;
    }

    .dp{
        width: 210px;
        height: 0px;
        left: -0.99rem;
        bottom: -3.5rem;
    }
    .dp-item{
        font-size: 11pt;
    }

    .hov{
        padding: 22px 16px 31px 27px;
        width: 170px;
        height: 32px;
        margin-left: -2.8rem;
    }

    .log-men{
            width: 296px;
            height: 229px;
            flex-grow: 0;
            margin: 191px 0px 0px 5px;
            padding: 46px 49px 46px;
            border-radius: 33px;
    }
    .p-log{
        font-size: 18px;
    }
    .btn-log{
        margin-left: 3px;
    }

}