@font-face {
    font-family: KGRedHands ;
    src: url(../src//font/kg_red_hands/KGRedHands.ttf);
}
@font-face {
    font-family: HeyComic ;
    src: url(../src//font/hey_comic//Hey\ Comic.ttf);
}

body {
    background-color: #FBCF85;
}
*{
    list-style-type: none;
}

.sobre {
    width: 181px;
    height: 5rem;
    margin: 20px 0.2rem 0 -7rem;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-navsobre {
    margin-right: 20px; /* Espaçamento entre os botões */
}

.menu-navsobre button {
    border: none;
    background-color: transparent;
}

.sobr {
    font-family: Minecraft;
    font-size: 16pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.84px;
    text-align: left;
    color: #543838;
    margin: 0; /* Remover margem padrão */
}

.tx
{
    position: relative;
}

.tx2
{
    position: absolute;
    font-family: Organic Relief;
    font-size: 38pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.55pt;
    color: #543838;
    left: 7rem;
    right: 0rem;
    top: 8rem;
    bottom: 0rem;
}


.qs
{
    position: absolute;
    width: 36rem;
    text-align: justify;
    font-family: Honey Cute;
    font-size: 30pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.5pt;
    color: #543838;
    left: 5rem;
    right: 0rem;
    top: 18rem;
    bottom: 0rem;
}

#tx3 img
{
    width: 945px;
    height: 76rem;
}
.tx3 {
    position: absolute;
    left: 39.9rem;
    right: 0rem;
    top: 6rem;
    bottom: 0rem;
}

/* 💦💦💦💦BANNER💦💦💦💦 */

.bann 
{
    position: absolute;
    max-width: 100%;
    height: auto;
    top: 89rem;
}
.criat
{
    position: absolute;
    text-align: right;
    font-family: Organic Relief;
    font-size: 44pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.55pt;
    color: #57012F;
    left: 38.9rem;
    right: 8rem;
    top: 21rem;
    bottom: 0rem;
}
.criat2
{
    position: absolute;
    text-align: right;
    font-family: Organic Relief;
    font-size: 42pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.55pt;
    color: #57012F;
    left: 38.9rem;
    right: 10rem;
    top: 28rem;
    bottom: 0rem;
}
.tm
{
    position: absolute;
    text-align: right;
    font-family: KGRedHands;
    font-size: 19pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.55pt;
    color: #57012F;
    left: 48.9rem;
    right: 13rem;
    top: 39rem;
    bottom: 0rem;
}
.tm2
{
    position: absolute;
    text-align: right;
    font-family: KGRedHands;
    font-size: 19pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.55pt;
    color: #57012F;
    left: 48.9rem;
    right: 10rem;
    top: 41rem;
    bottom: 0rem;
  }

/* 💦💦💦💦 item 1 💦💦💦💦 */

.it1
{
    position: relative;
    right: 0rem;
}

.es 
{
    position: relative;
    width: 795.6px;
    height: 795.6px;
    flex-grow: 0;
    top: 146rem;
    left: 11rem;
}

.miku
{
    position: absolute;
    width: 550px;
    height: 550px;
    margin: 0px 0px 0px 0px;
    border-radius: 31px;
    box-shadow: -20px 21px 0 0 #543838;
}
.cli
{
  position: absolute;
  top: 176rem;
  left: 12rem;
}

.cli2
{
    position: absolute;
    top: 146.9rem;
    left: 41.4rem;
}

.di
{
    position: absolute;
    font-family: Organic Relief;
    font-size: 46pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.55pt;
    color: #57012F;
    left: 58.9rem;
    right: 0rem;
    top: 151rem;
    bottom: 0rem;
}

.di2
{
    position: absolute;
    font-family: Organic Relief;
    font-size: 46pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.55pt;
    color: #57012F;
    left: 62.9rem;
    right: 0rem;
    top: 158rem;
    bottom: 0rem;
}

.tx1 {
    position: absolute;
    text-align: right;
    font-family: KGRedHands;
    font-size: 23pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.55pt;
    color: #57012F;
    left: 48.9rem;
    right: 11rem;
    top: 169rem;
    bottom: 0rem;
}


/* 💦💦💦💦 item 2 💦💦💦💦 */

.item2
{
    position: relative;
    right: 0rem;
}
.esquerda2
{
    position: absolute;
    text-align: left;
    font-family: Organic Relief;
    font-size: 40pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.55pt;
    color: #57012F;
    left: 7.9rem;
    right: 0rem;
    top: 151rem;
    bottom: 0rem;
}
.esquerda3
{
    position: absolute;
    text-align: left;
    font-family: Organic Relief;
    font-size: 40pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.55pt;
    color: #57012F;
    left: 12.9rem;
    right: 0rem;
    top: 157rem;
    bottom: 0rem;
}
.text2 
{
    position: absolute;
    text-align: left;
    font-family: KGRedHands;
    font-size: 23pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.55pt;
    color: #57012F;
    left: 7.9rem;
    right: 48rem;
    top: 167rem;
    bottom: 0rem;
}
.direita2
{
    position: relative;
    width: 624.6px;
    height: 795.6px;
    top: 146rem;
    left: 56rem;
}
.dia
{
    position: absolute;
    width: 550px;
    height: 550px;
    margin: 0px 0px 0px 0px;
    border-radius: 31px;
    box-shadow: -20px 21px 0 0 #543838;
}
.clip2
{
    position: absolute;
    top: 176rem;
    left: 57rem;
}
.clip3
{
    position: absolute;
    top: 146.9rem;
    left: 86.5rem;
}

/* 💦💦💦💦     ITEM 3 💦💦💦💦 */

.item3
{
    position: relative;
    right: 0rem;
}
.esquerdinha
{
    position: relative;
    width: 795.6px;
    height: 795.6px;
    top: 146rem;
    left: 11rem;
}
.caneta
{
    position: absolute;
    width: 550px;
    height: 550px;
    margin: 0px 0px 0px 0px;
    border-radius: 31px;
    box-shadow: -20px 21px 0 0 #543838;
}
.clipp
{
    position: absolute;
    top: 176rem;
    left: 12rem;
} 
.clipp2
{
    position: absolute;
    top: 146.9rem;
    left: 41.4rem;
}
.direitinha
{
    position: absolute;
    font-family: Organic Relief;
    font-size: 46pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.55pt;
    color: #57012F;
    left: 55.9rem;
    right: 0rem;
    top: 151rem;
    bottom: 0rem;
}
.direitinha2
{
    position: absolute;
    font-family: Organic Relief;
    font-size: 46pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.55pt;
    color: #57012F;
    left: 70.9rem;
    right: 0rem;
    top: 158rem;
    bottom: 0rem;
}
.texto
{
    position: absolute;
    text-align: right;
    font-family: KGRedHands;
    font-size: 21pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.55pt;
    color: #57012F;
    left: 46.9rem;
    right: 11rem;
    top: 169rem;
    bottom: 0rem;
}

/* 💦💦💦💦 Item 4 💦💦💦💦 */

.item4
{
    position: relative;
    right: 0rem; 
}
.esquerda4
{
    position: absolute;
    text-align: left;
    font-family: Organic Relief;
    font-size: 40pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.55pt;
    color: #57012F;
    left: 7.9rem;
    right: 0rem;
    top: 151rem;
    bottom: 0rem;
}
.esquerda44
{
    position: absolute;
    text-align: left;
    font-family: Organic Relief;
    font-size: 40pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.55pt;
    color: #57012F;
    left: 11.9rem;
    right: 0rem;
    top: 157rem;
    bottom: 0rem;
}
.text4 
{
    position: absolute;
    text-align: left;
    font-family: KGRedHands;
    font-size: 23pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.55pt;
    color: #57012F;
    left: 7.9rem;
    right: 48rem;
    top: 168rem;
    bottom: 0rem;
}
.direita4
{
    position: relative;
    width: 624.6px;
    height: 795.6px;
    top: 146rem;
    left: 56rem;
}
.quatro
{
    position: absolute;
    width: 632px;
    height: 598px;
    margin: 0px 0px 0px 0px;
    border-radius: 31px;
}
.clip4
{
    position: absolute;
    top: 177rem;
    left: 59rem;
}
.clip44
{
    position: absolute;
    top: 146.9rem;
    left: 88.5rem;
}

/* 💦💦💦💦 ASSINATURAS 💦💦💦💦 */

.as
{
    position: relative;
    right: 0rem; 
    top: 141rem;
}
.assin
{
    position: absolute;
    text-align: center;
    font-family: Organic Relief;
    font-size: 47pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.55pt;
    color: #57012F;
    left: 7.9rem;
    right: 6rem;
    top: 3rem;
    bottom: 0rem;
}
.tet
{
    position: absolute;
    text-align: center;
    font-family: KGRedHands;
    font-size: 16pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 3.6pt;
    color: #57012F;
    left: 10.9rem;
    right: 10rem;
    top: 19rem;
    bottom: 0rem;
}

/* 💦💦💦💦 PLANOS 💦💦💦💦 */

.plan
{
    position: relative;
    right: 0rem; 
    top: 141rem;
}
.ret
{
    position: absolute;
    width: 469px;
    height: 734px;
    flex-grow: 0;
    margin-top: -92px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    border-radius: 58px;
    background-color: #543838;
    box-shadow: -11px 10px 0 0 #ffffff8c;
    left: 16.9rem;
    right: 3rem;
    top: 39rem;
    bottom: 0rem;
}
.ben 
{
    position: absolute;
    font-family: KGRedHands;
    font-size: 12.1pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.55pt;
    color: #ffe287;
    padding-top: 0px;
    padding-right: 37px;
    padding-bottom: 12px;
    padding-left: 0px;
    left: 0.3rem;
    top: 18.7rem;
}

.ben ul li {
    text-align: left;
    margin-left: 0; /* Remova a margem esquerda */
    line-height: 2.3;
}

.ret2
{
    position: absolute;
    width: 469px;
    height: 267.3px;
    margin-top: -92px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    border-radius: 53px;
    left: 0rem;
    right: 3rem;
    top: 5rem;
    bottom: 0rem;
    background-color: #372424;
}

.premium
{
    position: relative;
    width: 364px;
    height: 305px;
    margin: 0 175.4px 31px 0;
    top: -2.3rem;
    right: -3.3rem;
}
.p
{
    position: absolute;
    font-family: HeyComic;
    font-size: 19.7pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.55pt;
    color: #ffffff;
    padding-top: 0px;
    padding-right: 37px;
    padding-bottom: 12px;
    padding-left: 0px;
    left: 11rem;
    top: 12.5rem;
}
.ret3
{
    position: absolute;
    width: 469px;
    height: 734px;
    flex-grow: 0;
    margin-top: -92px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    border-radius: 58px;
    background-color: #543838;
    box-shadow: -11px 10px 0 0 #ffffff8c;
    left: 53.9rem;
    right: 3rem;
    top: 39rem;
    bottom: 0rem;
}
.ret4
{
    position: absolute;
    width: 469px;
    height: 267.3px;
    margin-top: -92px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    border-radius: 53px;
    left: 0rem;
    right: 3rem;
    top: 5rem;
    bottom: 0rem;
    background-color: #372424; 
}

.ben2
{
    position: absolute;
    font-family: KGRedHands;
    font-size: 12.1pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.55pt;
    color: #ffe287;
    padding-top: 0px;
    padding-right: 37px;
    padding-bottom: 12px;
    padding-left: 0px;
    left: 0.3rem;
    top: 18.4rem;
}

.ben2 ul li {
    text-align: left;
    margin-left: 0; /* Remova a margem esquerda */
    line-height: 2.3;
}
.core
{
    position: relative;
    width: 338px;
    height: 305px;
    margin: 0 175.4px 31px 0;
    top: -2.3rem;
    right: -4rem;
}
.c
{
    position: absolute;
    font-family: HeyComic;
    font-size: 22.4pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.55pt;
    color: #ffffff;
    padding-top: 0px;
    padding-right: 37px;
    padding-bottom: 12px;
    padding-left: 0px;
    left: 12.7rem;
    top: 12.2rem;
}

/* 💦💦💦💦 TRABALHE CONOSCO 💦💦💦💦 */

.lulu
{
    position: absolute;
    left: 1.9rem;
    right: 0rem;
    top: 101.8rem;
    bottom: 0rem;
}

#lulu img
{
    width: 735px;
    height: 1002px;
}