body{
    background-image: url("../src/download.jpg");
    background-repeat: no-repeat;
    background-size: 120rem 62.5rem;
}

@media (max-width:1800px){
    body{
        background-size:  100rem 50rem;
    }
}
