@font-face {
    font-family: KGRedHands ;
    src: url(../src//font/kg_red_hands/KGRedHands.ttf);
}

body {
    background-color: #FBCF85;
}
*{
    list-style-type: none;
}

.sobre {
    width: 181px;
    height: 5rem;
    margin: 20px 0.2rem 0 -7rem;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-navsobre {
    margin-right: 20px; /* Espaçamento entre os botões */
}

.menu-navsobre button {
    border: none;
    background-color: transparent;
}

.sobr {
    font-family: Minecraft;
    font-size: 16pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.84px;
    text-align: left;
    color: #543838;
    margin: 0; /* Remover margem padrão */
}

.tx
{
    position: relative;
}

.tx2
{
    position: absolute;
    font-family: Organic Relief;
    font-size: 38pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.55pt;
    color: #543838;
    left: 7rem;
    right: 0rem;
    top: 8rem;
    bottom: 0rem;
  }


.qs
{
    position: absolute;
    width: 36rem;
    text-align: justify;
    font-family: Honey Cute;
    font-size: 30pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.5pt;
    color: #543838;
    left: 5rem;
    right: 0rem;
    top: 18rem;
    bottom: 0rem;
}

#tx3 img
{
    width: 945px;
    height: 76rem;
}
.tx3 {
    position: absolute;
    left: 39.9rem;
    right: 0rem;
    top: 6rem;
    bottom: 0rem;
}


.bann 
{
    position: absolute;
    max-width: 100%;
    height: auto;
    top: 89rem;
}

/* .ds
{
    text-align: end;
    font-family: Organic Relief;
    font-size: pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.55pt;
    color: #543838;
    margin: 20px 0.2rem 0 -7rem;
} */
.it1
{
    position: relative;
    right: 0rem;
}

.es 
{
    position: relative;
    width: 795.6px;
    height: 795.6px;
    flex-grow: 0;
    top: 146rem;
    left: 11rem;
}

.miku
{
    position: absolute;
    width: 550px;
    height: 550px;
    margin: 0px 0px 0px 0px;
    border-radius: 31px;
    box-shadow: -20px 21px 0 0 #543838;
}
.cli
{
  position: absolute;
  top: 176rem;
  left: 12rem;
}

.cli2
{
    position: absolute;
    top: 146.9rem;
    left: 41.4rem;
}

.di
{
    position: absolute;
    font-family: Organic Relief;
    font-size: 46pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.55pt;
    color: #543838;
    left: 58.9rem;
    right: 0rem;
    top: 151rem;
    bottom: 0rem;
}

.di2
{
    position: absolute;
    font-family: Organic Relief;
    font-size: 46pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.55pt;
    color: #543838;
    left: 62.9rem;
    right: 0rem;
    top: 158rem;
    bottom: 0rem;
}

.tx1 {
    position: absolute;
    text-align: right;
    font-family: KGRedHands;
    font-size: 23pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.55pt;
    color: #543838;
    left: 48.9rem;
    right: 11rem;
    top: 169rem;
    bottom: 0rem;
}


/*item2 */

.item2
{
    position: relative;
    right: 0rem;
}
.esquerda2
{
    position: relative;
    width: 795.6px;
    height: 795.6px;
    flex-grow: 0;
    top: 146rem;
    left: 56rem;
}
.dia
{
    position: absolute;
    width: 550px;
    height: 550px;
    margin: 0px 0px 0px 0px;
    border-radius: 31px;
    box-shadow: -20px 21px 0 0 #543838;
}
.clip2
{
    position: absolute;
    top: 176rem;
    left: 57rem;
}
.clip3
{
    position: absolute;
    top: 146.9rem;
    left: 86.5rem;
}
.direita2
{
    position: absolute;
    font-family: Organic Relief;
    font-size: 46pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.55pt;
    color: #543838;
    left: 58.9rem;
    right: 0rem;
    top: 151rem;
    bottom: 0rem;
}
.direita3
{
    position: absolute;
    font-family: Organic Relief;
    font-size: 46pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.55pt;
    color: #543838;
    left: 62.9rem;
    right: 0rem;
    top: 158rem;
    bottom: 0rem;
}
.text2 
{
    position: absolute;
    text-align: right;
    font-family: KGRedHands;
    font-size: 23pt;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.55pt;
    color: #543838;
    left: 48.9rem;
    right: 11rem;
    top: 169rem;
    bottom: 0rem;
}
