@import url('https://fonts.cdnfonts.com/css/vcr-osd-mono');
@import url('https://fonts.cdnfonts.com/css/upheaval');
@import url('../css/fonts.css');

.rs-fundo{
    width: 575px;
    height: 140px;
    margin-bottom: 19px;
    padding: 21px 244px 25px 51px;
    border-radius: 19px;
    box-shadow: 12px 14px 0 0 #e8a542;
    background-color: #543838;
    position:relative;
}
.redes-sociais {
    width: 339px;
    height: 51px;
    margin: 0 21px 19px 0;
    text-shadow: -3px 6px 0 #2d2020;
    font-family: Superstar;
    font-size: 47px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.88px;
    text-align: left;
    color: #e8a542;
  }
  .sub-tit{
    width: 360px;
    height: 24px;
    margin: 2px 0 0;
    font-family: 'VCR OSD Mono', sans-serif;
    font-size: 11px;
    font-weight: normal;
    display: block;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(232, 165, 66, 0.53);
    outline: none;
}
.rs{
    width: 575px;
    height: 247px;
    padding: 21px 42px 47px 40px;
    border-radius: 19px;
    box-shadow: 12px 14px 0 0 #e8a542;
    background-color: #543838;
    position: relative;
}
.rs-b{
    width: 169px;
    height: 51px;
    flex-grow: 0;
    margin: 18px 7px 0 0;
    padding-left:19px;
    border-radius: 9px;
    /* box-shadow: -5px 8px 0 0 #281a1a; */
    border: solid 2px #6b4f4f;
    background-color: #3e2929;
    position: absolute;
    font-family: Superstar;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.88px;
    text-align: left;
    color: #e8a542;
}

.rs-b option{
    font-family: Superstar;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.88px;
    text-align: left;
    color: #e8a542;
}
#bt_n2{
  margin: 0 27px 0 0;
  font-family: Superstar;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.68px;
  text-align: left;
  color: #e8a542;
}

.rs-i{
    width: 294px;
    height: 39px;
    margin: 24px 14px 6px 7px;
    border-radius: 9px;
    /* box-shadow: -5px 8px 0 0 #281a1a; */
    border: solid 2px #6b4f4f;
    background-color: #3e2929;
    position: absolute;
    left: 13rem;
}
.enviarr{
    width: 105px;
    height: 40px;
    flex-grow: 0;
    padding: 10px 53px;
    border-radius: 9px;
    /* box-shadow: -6px 7px 0 0 #38513a; */
    border: solid 4px #4f6b4f;
    background-color: #8ca558;
    position: absolute;
    top: 3.9rem;
    left: 26.4rem;
    text-shadow: -2px 2px 0 #393854;
    font-family: 'Upheaval TT (BRK)', sans-serif;
    font-size: 13pt;
    line-height: 0.92;
    letter-spacing: 1px;
    text-align: left;
    color: #fff;
}
.e-ii{
    font-size: 14pt;
    margin: 0 18px 0 0;
    color: #ffffff;
    text-shadow: -4px 2px #393854;
    position: absolute;
    bottom: 0.3rem;
    left: 1.3rem;
    
  }

.enviarr span{
    position: absolute;
    top: 0.5rem;
    left: 3rem;
}

#e2{
    top: 9.6rem;
}