@font-face {
    font-family: Aesthetic ;
    src: url("/src/font/aesthetic_3/Aesthetic-Regular.ttf");
}
@font-face {
    font-family: bitcube ;
    src: url("/src/font/bitcube/bitcube.ttf");
}
@font-face {
    font-family: Crang ;
    src: url("/src/font/crang/Crang.ttf");
}
@font-face {
    font-family: Daydream ;
    src: url("/src/font/daydream_3/Daydream.ttf");
}
@font-face {
    font-family: Error ;
    src: url("/src/font/error_2/Error.ttf");
}
@font-face {
    font-family: Fipps ;
    src: url("/src/font/fipps/Fipps-Regular.otf");
}
@font-face {
    font-family: Franchise ;
    src: url("/src/font/franchise_2/Franchise.ttf");
}
@font-face {
    font-family: Gamer ;
    src: url("/src/font/gamer_2/Gamer.ttf");
}
@font-face {
    font-family: HeyComic ;
    src: url("/src/font/hey_comic/Hey\ Comic.ttf");
}
@font-face {
    font-family: HoneyCute ;
    src: url("/src/font/honey_cute/HoneyCute.otf");
}
@font-face {
    font-family:PsychedelicCAPS ;
    src: url("/src/font/jmh_psychedelic_caps/JMH\ Psychedelic\ CAPS.ttf");
}
@font-face {
    font-family: Justmore ;
    src: url("/src/font/justmore/Justmore\ -\ Personal\ Use.ttf");
}
@font-face {
    font-family: KarmaticArcade ;
    src: url("/src/font/karmatic_arcade/ka1.ttf");
}
@font-face {
    font-family: KGRedHands ;
    src: url("/src/font/kg_red_hands/KGRedHands.ttf");
}
@font-face {
    font-family: LettersforLearners ;
    src: url("/src/font/letters_for_learners/Letters\ for\ Learners.ttf");
}
@font-face {
    font-family: Minecraft ;
    src: url("/src/font/minecraft/Minecraft.ttf");
}
@font-face {
    font-family: MomcakePro ;
    src: url("/src/font/momcakepro/MomcakePro-Regular.ttf");
}
@font-face {
    font-family: Organic Relief ;
    src: url("/src/font/organic_relief/Organic\ Relief.ttf");
}
@font-face {
    font-family: Papernotes ;
    src: url("/src/font/papernotes/Papernotes.ttf");
}
@font-face {
    font-family: PinkChicken ;
    src: url("/src/font/pink_chicken/PinkChicken-Regular.ttf");
}
@font-face {
    font-family: PixelOperator ;
    src: url("/src/font/pixel_operator/PixelOperator.ttf");
}
@font-face {
    font-family: Retropulse ;
    src: url("/src/font/retropulse/Retropulse.ttf");
}
@font-face {
    font-family: SquashyFlow ;
    src: url("/src/font/squashy_flow/Squashy\ Flow.ttf");
}
@font-face {
    font-family: SuperBoys ;
    src: url("/src/font/super_boys/Super\ Boys.ttf");
}
@font-face {
    font-family: SuperDessert ;
    src: url("/src/font/super_dessert/Super\ Dessert.ttf");
}
@font-face {
    font-family: SuperFoods ;
    src: url("/src/font/super_foods/Super\ Foods.ttf");
}
@font-face {
    font-family: SuperQuench ;
    src: url("/src/font/super_quench/Super\ Quench\ Personal\ Use.ttf");
}
@font-face {
    font-family: Superstar ;
    src: url("/src/font/superstar_2/superstar_memesbruh03.ttf");
}
@font-face {
    font-family: THE_JACATRA ;
    src: url("/src/font/the_jacatra/THE_JACATRA.otf");
}
@font-face {
    font-family: UpheavalTT  ;
    src: url("/src/font/upheaval_pro/UpheavalPro.otf");
}
@font-face {
    font-family: VCROSDMono ;
    src: url("/src/font/vcr_osd_mono/VCR_OSD_MONO_1.001.ttf");
}
@font-face {
    font-family: VerminVibes 1989 ;
    src: url("/src/font/vermin_vibes_1989/Vermin\ Vibes\ 1989.ttf");
}