*{
    list-style-type:none;

}

@font-face {
    font-family: HeyComic ;
    src: url(../src/font/hey_comic/Hey\ Comic.ttf);
}
@font-face {
    font-family: MomcakePro ;
    src: url(../src//font/momcakepro/MomcakePro-Regular.ttf);
}
@font-face {
    font-family: KGRedHands ;
    src: url(../src//font/kg_red_hands/KGRedHands.ttf);
}

.menu{
    height: 79px;
    width: 100%;
    border-radius: 0rem 0rem 1rem 1rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #543838;
    position: relative;
}
#men{
    margin-right: 1.5rem;
}


.logo {
    width: 53.1px;
    height: 53.1px;
    margin: 12px 53.9px 0.9px 2rem;
  }
  .menu-logo{
    list-style-type:none;
  }
  .menu-nav{
    align-items: center;
    background: 0 0;
    border: 0;
    color: #96969a;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-weight: 400;
    height: 100%;
    justify-content: flex-start;
    outline: 0;
    padding: 12px 0;
    text-decoration: none;
  }

  .menu_{
    display: flex;
    flex-shrink: 0;
}
.menu_ li {
    flex-grow: 1;
}

  .Explorar {
    margin-top: 1rem;
    font-family: HeyComic;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.84px;
    text-align: center;
    color: #fcfcfc;
  }

  .Servios {
    font-family: HeyComic;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.84px;
    text-align: center;
    color: #fcfcfc;
  }
  .search-icon{
    color: white;
    font-size: 15pt;
    padding: 0.45rem 0px 0px 0px;
  }
.menu-search{
    height: 3rem;
    width: 1rem;
    flex-grow: 1;
    margin: 15px 22px;
    padding: 5px 634.8px 4px 34px;
    border-radius: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: solid 3px #fff;
    background-color: rgba(217, 217, 217, 0);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    outline: 0;
    position: relative;
}
.search-bar{
    font-family: MomcakePro;
    background: #ffffff00;
    border: none;
    font-size: 19px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.76px;
    text-align: left;
    color: #ffffff;
    width: 83%;
    margin-left: 30px;
    height: 76%;
    position: absolute;
    outline: none;
}
::placeholder {
    color: rgb(255, 255, 255);
  }
.icons{
    color: white;
}
.shop{
    align-items: center;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 12px 0;
    margin-top: 0.9rem;
    margin-left: 1rem; 
    text-decoration: none;
    font-size: 19.5pt;
}
.login{
    width: 100px;
    height: 33px;
    flex-grow: 1;
    margin: 1.4rem 1rem 9px 3rem;
    padding: 8px 9.3px 8px 6px;
    border-radius: 9px;
    /* box-shadow: -4px 4px 0 0 #311b1b; */
    background-color: #ffc369;
    position: relative;
    cursor: pointer;
}
.icon-login{
    position: absolute;
    color: #543838;
    font-size: 12pt;
    margin-top: -0.1rem;
    margin-left: 0.5rem;
}
.login-btn{
    position: absolute;
    flex-grow: 1;
    margin: 0 0px 8px 32px;
    font-family: KGRedHands;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: left;
    color: #543838;
    position: absolute;
}
.cad{
    width: 140px;
    height: 33px;
    flex-grow: 1;
    margin-top: 1.4rem;
    margin-right: 2.3rem;
    padding: 8px 9.3px 8px 6px;
    border-radius: 9px;
    background-color: #ffc369;
    position: relative;
    cursor: pointer;
}
.icon-cad{
    position: absolute;
    color: #543838;
    font-size: 12pt;
    margin-top: -0.1rem;
    margin-left: 0.5rem;
}
.cad-btn{
    position: absolute;
    flex-grow: 1;
    margin: 0 0px 8px 32px;
    font-family: KGRedHands;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: left;
    color: #543838;
    position: absolute;
}
.m-icon{
    align-items: center;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0.6rem 0;
    margin-top: 0.8rem;
    text-decoration: none;
    font-size: 25pt;
}

.dp{
    top: 4.9rem;
    left: 87.5rem;
    width: 11rem;
    height: 20rem;
    border-radius: 0rem 0rem 1rem 1rem;
    background-color: #442d2df3;
    position:absolute;
    display:none;
    cursor: cell;
}

#exps .dp-item {
    display: flex;
    align-items: center; /* Alinha verticalmente os itens */
}

#exps .item-content {
    display: flex;
    align-items: center;
}

#exps .item-content i {
    margin-right: 10px; /* Adiciona um espaço entre o ícone e o texto */
}
#exps i {
    margin: 3px;
    font-size: 23px; /* Altere este valor para ajustar o tamanho da fonte */
    color: #ffc369;
}

#exps span {
    font-family: MomcakePro;
    font-size: 22px; /* Altere este valor para ajustar o tamanho da fonte */
    line-height: 1rem;
    letter-spacing: 0.76px;
    text-align: left;
    color: #ffc369;
}
#exps  a{
    text-decoration: none;
}
#exps .dp-menu{
    margin-top: -0.01rem;
    padding: 0.3rem 1rem 0rem 1rem;
}
#exps hr{
    height: 2px; 
    background-color: #726262;
    border: none;
}
#men:active + .dp {
    display: inline-block;
}
#exps {
    cursor: default; 
}
.dp-menu a {
    cursor: pointer; 
}
#menu-b{
    background-color: #ffffff00;
    border: none;
    outline: none;
    margin-top: 0.5rem;
}

#exps li:hover i,
#exps li:hover span {
    color: white;
    cursor: pointer;
}

.dp3{
    top: 4.9rem;
    left: 13.3rem;
    width: 11rem;
    height: 9rem;
    border-radius: 0rem 0rem 1rem 1rem;
    background-color: #442d2d;
    position:absolute;
    display:none;
    cursor: cell;
}

#jbs .dp-item {
    display: flex;
    align-items: center; /* Alinha verticalmente os itens */
}

#jbs .item-content {
    display: flex;
    align-items: center;
    margin-left: -1rem;
    width: 135px;
}

#jbs .item-content i {
    margin-right: 10px; /* Adiciona um espaço entre o ícone e o texto */
}

#jbs i {
    margin: 10px;
    font-size: 23px; 
    color: #ffc369;
}

#jbs span {
    font-family: MomcakePro;
    font-size: 22px; 
    line-height: 1rem;
    letter-spacing: 0.76px;
    text-align: left;
    color: #ffc369;
}
#jbs  a{
    text-decoration: none;
}
#jbs .dp-menu{
    margin-top: -0.01em;
   padding-left: -0.2rem;
}
#jb button:hover + .dp3 {
    display: inline-block;
}
#jbs {
    cursor: default; 
}
.dp-menu a {
    cursor: pointer; 
}

#jbs li:hover i,
#jbs li:hover span {
    color: white;
    cursor: pointer;
}

#exp button{
    height: 50px; width:5.5rem; margin-right:2.5rem;
}

#jb button{
    height: 50px; width:5.5rem; margin-right:30px;
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1900px) {

    .dp{
        margin-left: 20rem;
    }
    .dp3{
        margin-left: 1.5rem;
    }
    .login{
        margin-left: -0.1rem;
    }
    #loj{
        margin-left: -0.1rem;
        margin-right: 1.5rem;
    }
    #cadbt{
        width: 9rem;
        margin-right: 1rem;
    }

    .menu-search{
        padding-right: 60rem;
    }

}

