*{
    list-style-type:none;

}

@font-face {
    font-family: HeyComic ;
    src: url(../src/font/hey_comic/Hey\ Comic.ttf);
}
@font-face {
    font-family: MomcakePro ;
    src: url(../src//font/momcakepro/MomcakePro-Regular.ttf);
}
@font-face {
    font-family: KGRedHands ;
    src: url(../src//font/kg_red_hands/KGRedHands.ttf);
}

.menu{
    height: 79px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #543838;
    position: relative;
}
.logo {
    width: 53.1px;
    height: 53.1px;
    margin: 12px 53.9px 0.9px 0;
    transform: rotate(-354.94deg);
  }
  .menu-logo{
    list-style-type:none;
  }
  .menu-nav{
    align-items: center;
    background: 0 0;
    border: 0;
    color: #96969a;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-weight: 400;
    height: 100%;
    justify-content: flex-start;
    outline: 0;
    padding: 12px 0;
    text-decoration: none;
    transition: color .2s linear, background-color .2s linear;
  }
  .menu_{
    display: flex;
  }

  .Explorar {
    width: 94px;
    height: 27px;
    margin: 15px 25px 14px 25px;
    font-family: HeyComic;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.84px;
    text-align: left;
    color: #fcfcfc;
  }
  .Loja {
    width: 50px;
    height: 27px;
    margin: 15px 45px 14px 20px;
    font-family: HeyComic;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.84px;
    text-align: left;
    color: #fcfcfc;
  }
  .Servios {
    width: 95px;
    height: 27px;
    margin: 15px 35px 14px 0px;
    font-family: HeyComic;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.84px;
    text-align: left;
    color: #fcfcfc;
  }
  .search-icon{
    color: white;
    font-size: 15pt;
    padding: 5px 0px 0px 0px;
  }
.menu-search{
    height: 2rem;
    width: 8rem;
    flex-grow: 0;
    margin: 15px 22px;
    padding: 5px 634.8px 4px 34px;
    border-radius: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: solid 3px #fff;
    background-color: rgba(217, 217, 217, 0);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    outline: 0;
    transition: color .2s linear, background-color .2s linear;
    position: relative;
}
.search-bar{
    font-family: MomcakePro;
    background: #ffffff00;
    border: none;
    font-size: 19px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.76px;
    text-align: left;
    color: #ffffff;
    width: 83%;
    margin-left: 30px;
    height: 76%;
    position: absolute;
    outline: none;
}
::placeholder {
    color: rgb(255, 255, 255);
  }
.icons{
    color: white;
}
.shop{
    align-items: center;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 12px 0;
    margin: 10px 0.2rem 0 1rem;
    text-decoration: none;
    font-size: 25pt;
}
.login{
    width: 85px;
    height: 30px;
    flex-grow: 0;
    margin: 1rem 1rem 9px 3rem;
    padding: 8px 9.3px 8px 6px;
    border-radius: 9px;
    /* box-shadow: -4px 4px 0 0 #311b1b; */
    background-color: #ffc369;
    position: relative;
    cursor: pointer;
}
.icon-login{
    position: absolute;
    color: #543838;
    font-size: 15pt;
    padding: 0.3rem 0rem 0rem 0.3rem;
}
.login-btn{
    position: absolute;
    flex-grow: 0;
    margin: 7px 0px 8px 32px;
    font-family: KGRedHands;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: left;
    color: #543838;
}
.cad{
    width: 115px;
    height: 30px;
    flex-grow: 0;
    margin: 1rem 38.7px 9px 19px;
    padding: 8px 9.3px 8px 6px;
    border-radius: 9px;
    background-color: #ffc369;
    position: relative;
    cursor: pointer;
}
.icon-cad{
    position: absolute;
    color: #543838;
    font-size: 15pt;
    padding: 0.3rem 0rem 0rem 0.2rem;
}
.cad-btn{
    position: absolute;
    flex-grow: 0;
    margin: 7px 0px 7.4px 30px;
    font-family: KGRedHands;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: left;
    color: #543838;
}
.m-icon{
    align-items: center;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 12px 0;
    margin: 10px 6px 0 34px;
    text-decoration: none;
    font-size: 25pt;
}